[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot/
[submodule "linux-stable"]
	path = linux-stable
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
